In [1]:
'''
import csv
import random

def generate_random_csv(filename, width, length):
    with open(filename, mode='w', newline='') as file:
        writer = csv.writer(file)
        for _ in range(length):
            row = [random.randint(0, 100) for _ in range(width)]
            writer.writerow(row)
'''

"\nimport csv\nimport random\n\ndef generate_random_csv(filename, width, length):\n    with open(filename, mode='w', newline='') as file:\n        writer = csv.writer(file)\n        for _ in range(length):\n            row = [random.randint(0, 100) for _ in range(width)]\n            writer.writerow(row)\n"

In [2]:
# Example usage:
#generate_random_csv('random_numbers.csv', 320, 240*100)

In [3]:
'''
import os
import shutil

source_folder = 'real_rgb/rgb'
destination_folder = 'fake_therm_set'

# Ensure the destination folder exists
os.makedirs(destination_folder, exist_ok=True)

# Get a list of all files in the source folder
all_files = os.listdir(source_folder)

# Filter out only image files (assuming they have common image extensions)
image_files = [f for f in all_files if f.lower().endswith(('.png', '.jpg', '.jpeg', '.bmp', '.gif'))]

# Copy the first 100 images to the destination folder
for image_file in image_files[:100]:
    src_path = os.path.join(source_folder, image_file)
    dst_path = os.path.join(destination_folder, image_file)
    shutil.copy(src_path, dst_path)
'''

"\nimport os\nimport shutil\n\nsource_folder = 'real_rgb/rgb'\ndestination_folder = 'fake_therm_set'\n\n# Ensure the destination folder exists\nos.makedirs(destination_folder, exist_ok=True)\n\n# Get a list of all files in the source folder\nall_files = os.listdir(source_folder)\n\n# Filter out only image files (assuming they have common image extensions)\nimage_files = [f for f in all_files if f.lower().endswith(('.png', '.jpg', '.jpeg', '.bmp', '.gif'))]\n\n# Copy the first 100 images to the destination folder\nfor image_file in image_files[:100]:\n    src_path = os.path.join(source_folder, image_file)\n    dst_path = os.path.join(destination_folder, image_file)\n    shutil.copy(src_path, dst_path)\n"

In [4]:
import dask.dataframe as dd

def split_dataframe(df,group_size):
    return [df.iloc[i:i + group_size,:] for i in range(0, len(df), group_size)]

c:\Users\Emma Wadsworth\anaconda3\envs\unet_cuda\Lib\site-packages\dask\dataframe\__init__.py:42: FutureWarning:
Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

  warnings.warn(msg, FutureWarning)

In [24]:
import dask.dataframe as dd
import os

# Load a CSV file into a Dask DataFrame
df = dd.read_csv(os.path.join('fake_therm_set','random_numbers.csv'),blocksize=1000000).compute()


#df.iloc[[0,240],[0:320]].compute()

,01,02,03,04,05,06,07,08,09,10,...,311,312,313,314,315,316,317,318,319,320
0,70,92,71,77,82,26,49,51,12,71,...,81,27,81,18,65,61,42,18,94,63
1,73,66,18,11,13,72,99,72,6,72,...,96,5,73,34,84,62,0,32,60,5
2,66,18,58,3,66,6,97,54,34,50,...,34,22,63,42,24,16,61,78,63,50
3,85,56,34,46,76,53,41,25,73,33,...,94,48,27,45,7,5,51,42,28,79
4,33,6,91,66,76,62,10,36,80,58,...,50,77,2,97,60,59,11,100,7,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086,15,68,59,90,68,90,84,29,14,100,...,42,62,82,97,12,43,18,97,2,12
1087,97,68,56,85,30,59,99,87,25,64,...,40,11,27,49,94,79,100,12,24,51
1088,54,60,33,12,37,10,58,32,89,100,...,49,79,45,64,100,71,51,46,72,38
1089,14,1,38,59,75,99,56,1,50,40,...,82,11,13,70,20,93,67,55,16,34
1090,60,35,6,99,92,57,87,21,96,50,...,43,39,78,49,72,40,32,52,32,51

In [6]:
group_size = 240

groups = split_dataframe(df, group_size)

print(groups.size)

NotImplementedError: 'DataFrame.iloc' only supports selecting columns. It must be used like 'df.iloc[:, column_indexer]'.